/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.v-middle {
  vertical-align: middle;
}

.msg-error {
  color: #ffffff;
  background-color: rgb(219, 45, 45);
}

.msg-success {
  color: #ffffff;
  background-color: rgb(57, 190, 79);
}
